
a{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    /* background: #dcdccd; */
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 1px solid #dcdcdc;
}
a:active{
    border-bottom: none;
}
a:nth-child(2){
    margin-left: -5px;
}
a:hover{
    color: #ffffff;
    background: blanchedalmond;
}
#footer{
    width: 100%;
    text-align: center;
}